%h1
  Dashboard

.row
  .col-md-4
    .well
      .text-center
        .number
          {{statistics.skin_count}}
        Skins

    .well
      .page-header
        Last recorded
      %table.table-condensed
        %tr(ng-repeat="skin in statistics.skins")
          %td
            %span.glyphicon.glyphicon-time
            {{skin.updated_at | date: "yyyy-MM-dd"}}
          %td
            %span.glyphicon.glyphicon-link
            {{skin.token}}
          %td
            {{skin.last_property.key}}

    .well
      .page-header
        Suspicious activities
      %table.table-condensed
        %tr
          %td
            ABCDE
          %td
            has been registered too far from collecting area
        %tr
          %td
            ERXDF
          %td
            checkin interval too short
        %tr
          %td
            PWORD
          %td
            suspicious size for cattled pythons

  .col-md-8
    #map-canvas