%nav.navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{:"data-toggle" => "collapse", :"data-target" => "#bs-navbar-collapse"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        = image_tag "logo.png"

    .collapse.navbar-collapse#bs-navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a
            Quotas
        %li
          %a
            Regions
        %li
          %a
            Weekly activity
        %li
          %a
            Action points
        %li
          %a
            Calendar
        %li
          %a
            Flow

      %form.navbar-form.navbar-right{role: "search"}
        .form-group
          %input.form-control{placeholder: "Search"}
        %button.btn.btn-default{type: "submit"} Submit

.container
  %div(ng-view)