.number {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 29px;
  line-height: 60px;
  text-shadow: 1px 0 0 #fff;
  color: #2aacaa;
}

#map-canvas {
  height: 600px;
}

.page-header {
  padding-bottom: 3px;
  margin: 0 0 10px;
  border-bottom: 1px solid #A0A0A0;
  font-size: 16px;
  font-weight: 1;
  font-family: "Verdana";
}
